In [1]:
import pandas as pd

In [2]:
x = pd.Series([6,4,1,7,9])

In [3]:
x

0    6
1    4
2    1
3    7
4    9
dtype: int64

In [4]:
import numpy as np

In [6]:
df = pd.DataFrame(np.random.random(4))

In [7]:
df

          0
0  0.131014
1  0.105143
2  0.640943
3  0.633157

# random number randn in a 4 by 3 table. 4 rows and 3 columns

In [8]:
dff = pd.DataFrame(np.random.randn(4,3))  #random number randn in a 4 by 3 table. 4 rows and 3 columns

In [9]:
dff

          0         1         2
0 -1.421873 -0.301983 -0.537232
1 -0.085828 -0.126616  1.432137
2 -0.464037 -1.094648 -2.139761
3  0.103564  1.397294  0.205794